@import './breakpoints';

@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

// Fonts
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Colors
$primary-dark-color: #D32F2F;
$primary-light-color: #FFCDD2;
$primary-color: #F44336;
$accent-color: #448AFF;

// Text Colors
$text: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;

a {
  text-decoration: none;
  color: $primary-text-color;
}