@import './breakpoints';

// Fonts
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Kodchasan', sans-serif;

// Colors
$primary-dark-color: #0288D1;
$primary-light-color: #B3E5FC;
$primary-color: #03A9F4;
$accent-color: #4CAF50;

// Text Colors
$text: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #757575;