@import '../../../assests/styles/base.scss';

.menu_recipe_modal {
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    background-color: #00000030;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &_modalWindow {
        height: 15vh!important;
        width: 400px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 25px;
        text-align: center;
    }
}