@import "../../assests/styles/base.scss";

.menu_recipePage {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh auto;
  background-color: $primary-light-color;
  color: $primary-text-color;
  font-family: $secondary-font;

  &_recipeWrapper {
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  &_dataWrapper {
    padding: 0 5px;
    -webkit-box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.3);
  }

  @include medium-screen() {
    &_recipeWrapper {
      grid-template-rows: 530px 3fr;
    }

    &_dataWrapper {
      padding: 0 50px;
    }
  }

  &_ingridientsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-gap: 25px;
  }
}
