@import '../assests/styles/base.scss';

body {
  background-color: $primary-color;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-light-color;
  border-radius: 0px 15px 15px 0px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252; 
  transition: all .4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color; 
}