@import "../../assests/styles/base.scss";

.menu_header {
  display: grid;
  grid-template-columns: 2fr 8fr;
  background-color: $primary-dark-color;
  color: $text;

  &_brand {
    display: grid;
    height: 100%;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  &_anchorWrapper {
    width: 70%;
    display: grid;
    justify-self: end;
    grid-auto-columns: 1fr;
    grid-template-areas: "firstItem secondItem";

    a {
      color: $text;
      height: 100%;
      display: grid;
      align-items: center;
      text-align: center;
      transition: all .4s;

      &:hover {
        background-color: $primary-light-color;
        color: $primary-text-color;
      }

      &:first-child {
        grid-area: secondItem;
      }
    }
  }

  @include medium-screen() {
    &_anchorWrapper {
      width: 35%;
      justify-self: end;
    }

    &_brand {
      justify-self: start;
      padding-left: 25px;
    }
  }
}
