@import "../../assests/styles/base.scss";

.menu_searchCard {
  ul,
  li,
  span,
  p,
  input,
  button {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
  height: 100px;
  min-height: 100%;
  overflow-y: scroll;
  background-color: $primary-light-color;
}
